[viewBag]
==
<header class="header navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="{{ url('/') }}">
                            <img src="{{ 'assets/img/logo/logo.svg' | theme }}" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="page-scroll" href="{{ url('/') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="{{ url('/about') }}">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="{{ url('/service') }}">Service</a>
                            </li>                                                        
                            <li class="nav-item">
                                <a class="page-scroll" href="{{ url('/contact') }}">Contact</a>
                            </li>
                        </ul>
                        <form action="#" class="search-form">
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div> <!-- navbar collapse -->
                </nav> <!-- navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</header>