title = "index"
url = "/"
layout = "default"
is_hidden = 0
==
{% partial 'header' %}

<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6">
                <div class="hero-content-wrapper">
                    <h2 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Bootstrap 5</h2>
                    <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s">Multipurpose Website Template</h1>
                    <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s">At vero eos et accusamus et iusto odio
                    dignissimos ducimus quiblanditiis praesentium</p>
                    <a href="javascript:void(0)" class="theme-btn">Get Started</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-6">
                <div class="hero-img">
                    <div class="d-inline-block hero-img-right">
                        <img src="{{ 'assets/img/hero/hero-img.png' | theme }}" alt="" class="wow fadeInRight" data-wow-delay=".5s">
                        <img src="{{ 'assets/img/hero/dots.shape.svg' | theme }}" alt="" class="dot-shape">
                        <div class="video-btn">
                            <a href="https://www.youtube.com/" class="glightbox"><i class="lni lni-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= hero-section end ========================= -->

<!-- ========================= client-logo-section start ========================= -->
<section class="client-logo-section pt-100">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <img src="{{ 'assets/img/client-logo/uideck-logo.svg' | theme }}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{{ 'assets/img/client-logo/pagebulb-logo.svg' | theme }}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{{ 'assets/img/client-logo/lineicons-logo.svg' | theme }}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{{ 'assets/img/client-logo/graygrids-logo.svg' | theme }}" alt="">
                </div>
                <div class="client-logo">
                    <img src="{{ 'assets/img/client-logo/lineicons-logo.svg' | theme }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= client-logo-section end ========================= -->

<!-- ========================= feature-section start ========================= -->
<section class="feature-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                <div class="section-title text-center mb-55">
                    <span class="wow fadeInDown" data-wow-delay=".2s">Feature</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Why Chose Us?</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio dignissimos ducimus quiblanditiis praesentium</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="lni lni-layers"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Responsive Design</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="lni lni-code-alt"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Web Development</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="lni lni-agenda"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Business Analysis</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature-section end ========================= -->

<!--========================= about-section start========================= -->
<section id="about" class="pt-100">
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-img-wrapper">
                        <div class="about-img position-relative d-inline-block wow fadeInLeft" data-wow-delay=".3s">
                            <img src="{{ 'assets/img/about/about-img.png' | theme }}" alt="">

                            <div class="about-experience">
                                <h3>5 Year Of Working Experience</h3>
                                <p>We Crafted an aweso design library that is robust and intuitive to use.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-content-wrapper">
                        <div class="section-title">
                            <span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
                            <h2 class="mb-40 wow fadeInRight" data-wow-delay=".4s">Built-With Boostrap 5, a New Experiance</h2>
                        </div>
                        <div class="about-content">
                            <p class="mb-45 wow fadeInUp" data-wow-delay=".6s">We Crafted an awesome design library
                                that is robust and intuitive to use. No matter you're building a business
                            presentation websit or a complex web application our design</p>
                            <div class="counter-up wow fadeInUp" data-wow-delay=".5s">
                                <div class="counter">
                                    <span id="secondo" class="countup count color-1" cup-end="30" cup-append="k">10</span>
                                    <h4>Happy Client</h4>
                                    <p>We Crafted an awesome design <br class="d-none d-md-block d-lg-none d-xl-block"> library that is robust and</p>
                                </div>
                                <div class="counter">
                                    <span id="secondo" class="countup count color-2" cup-end="42" cup-append="k">5</span>
                                    <h4>Project Done</h4>
                                    <p>We Crafted an awesome design <br class="d-none d-md-block d-lg-none d-xl-block"> library that is robust and</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================= about-section end========================= -->

<!-- ========================= service-section start ========================= -->
<section id="service" class="service-section pt-130 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                <div class="section-title text-center mb-55">
                    <span class="wow fadeInDown" data-wow-delay=".2s">Services</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Best Services</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio
                    dignissimos ducimus quiblanditiis praesentium</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-capsule"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Refreshing Design</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-bootstrap"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Solid Bootstrap 5</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-shortcode"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>100+ Components</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-dashboard"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Speed Optimized</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-layers"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Fully Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-reload"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Regular Updates</h4>
                        <p>Lorem ipsum dolor sit amet, adipscing elitr, sed diam nonumy eirmod tempor ividunt
                        labor dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= service-section end ========================= -->

<section id="contact" class="contact-section cta-bg img-bg pt-110 pb-100" style="background-image: url('{{ 'assets/img/bg/cta-bg.jpg' | theme }}');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7">
                <div class="section-title mb-60">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Space Free Lite</span>
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">You are using free lite version of Space</h2>
                    <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please, purchase full version of the template to get all pages, features and commercial license</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-5">
                <div class="contact-btn text-left text-lg-right">
                    <a href="https://rebrand.ly/space-gg" rel="nofollow" class="theme-btn">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========================= pricing-section start ========================= -->
<section id="pricing" class="pricing-section pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-10 mx-auto">
                <div class="section-title text-center mb-60">
                    <span class="wow fadeInDown" data-wow-delay=".2s">Price</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Pricing Plan</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio
                    dignissimos ducimus quiblanditiis praesentium</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="pricing-btn text-center wow fadeInUp" data-wow-delay=".3s">
                    <ul class="nav justify-content-center mb-90" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab"
                            aria-controls="pills-1" aria-selected="true">Monthly</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab"
                            aria-controls="pills-2" aria-selected="false">Yearly</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing mb-50">
                            <h4>Basic</h4>
                            <h3>$15.00</h3>
                            <ul>
                                <li>10 Users</li>
                                <li>Minimal Report</li>
                                <li>100MB Data Storage</li>
                                <li>No Support</li>
                                <li>Single Agent</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing active mb-50">
                            <h4>Standard</h4>
                            <h3>$25.99</h3>
                            <ul>
                                <li>30 Users</li>
                                <li>Minimal Report</li>
                                <li>1GB Data Storage</li>
                                <li>7/24 Support</li>
                                <li>Multiple Agents</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing mb-50">
                            <h4>Premium</h4>
                            <h3>$220.00</h3>
                            <ul>
                                <li>Unlimited Users</li>
                                <li>Full Report</li>
                                <li>Unlimited Data Storage</li>
                                <li>7/24 Support</li>
                                <li>Multiple Agents</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing mb-50">
                            <h4>Basic</h4>
                            <h3>$15.00</h3>
                            <ul>
                                <li>10 Users</li>
                                <li>Minimal Report</li>
                                <li>100MB Data Storage</li>
                                <li>No Support</li>
                                <li>Single Agent</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing active mb-50">
                            <h4>Standard</h4>
                            <h3>$25.99</h3>
                            <ul>
                                <li>30 Users</li>
                                <li>Minimal Report</li>
                                <li>1GB Data Storage</li>
                                <li>7/24 Support</li>
                                <li>Multiple Agents</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-pricing mb-50">
                            <h4>Premium</h4>
                            <h3>$220.00</h3>
                            <ul>
                                <li>Unlimited Users</li>
                                <li>Full Report</li>
                                <li>Unlimited Data Storage</li>
                                <li>7/24 Support</li>
                                <li>Multiple Agents</li>
                            </ul>
                            <a href="javascript:void(0)" class="theme-btn border-btn">Purchase Now</a>
                            <p>No Extra Hidden Charge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ========================= pricing-section end ========================= -->


<!-- ========================= subscribe-section start ========================= -->
<section class="subscribe-section pt-70 pb-70 img-bg" style="background-image: url('{{ 'assets/img/bg/common-bg.svg' | theme }}')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="section-title mb-30">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s">Subscribe</span>
                    <h2 class="text-white mb-40 wow fadeInUp" data-wow-delay=".4s">Subscribe Our Newsletter</h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <form action="#" class="subscribe-form wow fadeInRight" data-wow-delay=".4s">
                    <input type="text" name="subs-email" id="subs-email" placeholder="Your Email">
                    <button type="submit"><i class="lni lni-telegram-original"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>

{% partial 'footer' %}